<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="triangle" class="org.Spring.Triangle">
		<property name="point">
			<list>
				<ref bean="zeroPoint" />
				<ref bean="Point1" />
				<ref bean="Point2" />
			</list>
		</property>
	</bean>
	<bean id="zeroPoint" class="org.Spring.Point">
		<property name="x" value="0"></property>
		<property name="y" value="10"></property>
	</bean>
	<bean id="Point1" class="org.Spring.Point">
		<property name="x" value="10"></property>
		<property name="y" value="20"></property>
	</bean>
	<bean id="Point2" class="org.Spring.Point">
		<property name="x" value="20"></property>
		<property name="y" value="0"></property>
	</bean>
</beans>
